#container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
.center{
    flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
}

.left{  
    flex-basis: 25%;
}

.center {
    text-align: center;

}

.right{ 
    flex-basis: 25%;
}

.login{ 
    text-align: end;
}
  
  
  